<nav>
    <ul>
        <li><a href="/">Home (broken)</a></li>
    </ul>
    <ul>
        <li><a href="/teams">Teams</a></li>
    </ul>
    <ul>
        <li><a href="/drivers">Drivers</a></li>
    </ul>
    <ul>
        <li><a href="/circuits">Circuits</a></li>
    </ul>
</nav>